div.cmDiv
{

}
.clickMenu
{
	margin: 0;
	padding: 0;
	cursor: default;
}
.clickMenu, .clickMenu ul
{
	list-style: none;
}
.clickMenu ul
{
	margin: 0;
	padding: 2px;
	border: 1px solid black;
	background-color: #eee;
	min-width: 100px; /* ie doesnt know this :/ */
	//float: left;/*ie again*/
	//width: 100%;/*and again*/
}
.clickMenu div.outerbox
{
	display: none;
	min-width: 306px; /* firefox produces animation-flickering when the box is bigger than this :/ */
}
.clickMenu div.inner
{
	//top: 20px; /* for ie */
	left: 0;
	margin: 0;
}
.clickMenu div.inner div.outerbox
{
	margin: 0;
	left: 98px;
	//left: 90px; /* for ie */
	top: -3px;
}
.clickMenu li
{
	position: relative;
	padding: 4px 20px 4px 12px;
	/*white-space: nowrap; does not really work in ie */
}
.clickMenu li.main
{
	float: left;
	padding: 0 10px;
	//height: 20px; /* for ie */
}
.clickMenu li.main li
{
	z-index: 2;
	min-width: 78px;
}
.clickMenu li.hover
{
	z-index: 1 !important; /* the hover z-index has to be below the normal one the hovering items may be drawn over a submenu */
	background-color: #aaa;
}
.clickMenu img.liArrow
{
	position: absolute;
	right: 5px;
	top: 0.41em;
}
.clickMenu a
{
	text-decoration: none;
	color: black;
	cursor: default;
}
div.close{
    text-align: right;
    padding: 5px;
}